name: Koyeb Web Login Notification

on:
  workflow_dispatch:  # 允许手动触发工作流
  schedule:
    - cron: '40 0 * * *'  # 每天的 00:40 UTC 运行一次

jobs:
  login_to_koyeb:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '16'

      - name: Install Playwright and Axios
        run: |
          npm install playwright axios

      - name: Log in to Koyeb with multiple accounts
        env:
          GITHUB_USERNAME_1: ${{ secrets.GITHUB_USERNAME_1 }}
          GITHUB_PASSWORD_1: ${{ secrets.GITHUB_PASSWORD_1 }}
          GITHUB_USERNAME_2: ${{ secrets.GITHUB_USERNAME_2 }}
          GITHUB_PASSWORD_2: ${{ secrets.GITHUB_PASSWORD_2 }}
          TELEGRAM_BOT_TOKEN: ${{ secrets.TG_TOKEN }}
          CHAT_ID: ${{ secrets.TG_ID }}
        run: |
          node login.js
