name: Koyeb Web Login Notification

on:
  workflow_dispatch:  # 允许手动触发工作流
  schedule:
    - cron: '40 0 * * *'  # 每天的 00:40 UTC 运行一次

jobs:
  login_to_koyeb:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '18'

      - name: Install dependencies
        run: |
          npm init -y
          npm install playwright axios form-data

      - name: Install Playwright Chromium
        run: npx playwright install --with-deps chromium

      - name: Log in to Koyeb with multiple accounts
        env:
          EMAIL_1: ${{ secrets.EMAIL1 }}   # 第一个账户的电子邮件
          PASSWORD_1: ${{ secrets.PASSWORD1 }} # 第一个账户的密码
          EMAIL_2: ${{ secrets.EMAIL2 }}   # 第二个账户的电子邮件
          PASSWORD_2: ${{ secrets.PASSWORD2 }} # 第二个账户的密码
          TELEGRAM_BOT_TOKEN: ${{ secrets.TG_TOKEN }}
          TELEGRAM_CHAT_ID: ${{ secrets.TG_ID }} # 确保 Telegram Chat ID 的变量名称与 JavaScript 逻辑相符
        run: |
          node login.js
